@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./layouts/footer";
@import "./utils/keyframes";
@import "./pages/mediaqueries";





h1{
    color: #0c419a;
}
body{
    max-width: 550px;
    margin: auto;
}
