* {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
}

.submitButton {
  color: white;
  background-color: #0c419a;
}
.submitButton:hover {
  cursor: pointer;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
}
.headerTitle {
  grid-column: 2/4;
  grid-row: 2;
  font-size: 1.5rem;
  text-align: right;
}
.headerImg {
  grid-column: 1/3;
  grid-row: 1;
  object-fit: cover;
  width: 60%;
  height: 60%;
  text-align: left;
}

.formStatFieldset {
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.formStatFieldsetElement {
  padding: 5px;
}

input, textarea, select {
  background-color: transparent;
}
input:focus, textarea:focus, select:focus {
  background-color: #d2e7ed;
}

h1 {
  color: #0c419a;
}

body {
  max-width: 550px;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
