//Couleurs Assurance maladie (éclaircissement de 20 en 20)
$bleu : #0c419a;
$mauve : #A05BB6;
$jaune : #F0B323;
$orange : #E04F39;
$rose : #E11A81;
$cyan : #00A5DF;
$turquoise : #00AB8E;
$parme:#758CC0 ;
$bleuGivre:#65AEC1 ;
$vert: #56C271;
$gris : #545859;

//Police assurance maladie
$sourceSansPro : 'Source Sans Pro', sans-serif;

