.formStatFieldset {
    padding: 10px;
   margin-bottom: 15px;
   margin-top: 15px;
    &Element{
        padding: 5px;
    }
}

input, textarea, select{
    background-color: transparent;

    &:focus{
        background-color: lighten($bleuGivre, 30%);
    }
}
