.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    &Title {
        grid-column: 2/4;
        grid-row: 2;
        font-size: 1.5rem;
        text-align: right;
    }
    &Img{
        grid-column: 1/3;
        grid-row: 1;
        object-fit: cover;
        width: 60%;
        height: 60%;
        text-align: left;
    }
}